h1{
    @apply text-4xl 2xl:text-6xl text-secondary text-opacity-95 uppercase font-extrabold leading-10;
}
h2{
    @apply text-4xl text-secondary font-bold mb-4 leading-10;
}
h3{
    @apply text-xl text-secondary uppercase font-semibold left-10 leading-10;
}
h4{
    @apply text-sm text-secondary uppercase font-bold leading-10; 
}
p{
    @apply text-gray-500 font-light max-w-2xl leading-7;
}

html{
    @apply text-[100%] 2xl:text-[130%];
}